.PageNotFound {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageNotFound > svg {
  font-size: 7vmax;
  color: #2ecc71;
}

.PageNotFound > p {
  font-size: 2vmax;
  margin: 1vmax;
  color: rgba(0, 0, 0, 0.7);
}

.PageNotFound > a {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s;
}

.PageNotFound > a:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .PageNotFound > svg {
    font-size: 20vw;
  }

  .PageNotFound > p {
    font-size: 5vw;
  }

  .PageNotFound > a {
    font-size: 4vw;
    padding: 4vw;
  }
}
