.ProductDetails {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ProductDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.CarouselImage {
  width: 20vmax;
}

.detailsBlock-1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax "Roboto";
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  padding: 1vmax 0;
  margin: 1vmax 0;
}

.detailsBlock-2-span {
  font: 200 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.699);
}

.detailsBlock-3 {
  width: 100%;
}

.detailsBlock-3 > h1 {
  color: #2ecc71;
  font: 600 1.8vmax "Roboto";
  margin: 1vmax 0;
}

.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.5vmax;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.767);
  transition: all 0.3s;
}

.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.158);
}

.detailsBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.detailsBlock-3-1 > button {
  border: none;
  cursor: pointer;
  background-color: #2ecc71;
  color: white;
  font: 500 0.8vmax "Roboto";
  padding: 0.5vmax;
  margin: 1vmax;
  border-radius: 30px;
  transition: all 0.3s;
}

.detailsBlock-3-1 > button:hover {
  background-color: #27ae60;
}

.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Roboto";
  margin: 1vmax 0;
}

.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax "Roboto";
}

.detailsBlock-4 > p {
  font: 300 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.651);
}

.submitReview {
  border: none;
  background-color: #2ecc71;
  font: 500 0.8vmax "Roboto";
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 30px;
}

.submitReview:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}

.reviewsHeading {
  color: #000000be;
  font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
}

.reviews {
  display: flex;
  overflow: auto;
  padding: 1vmax;
}

.reviewCard {
  flex: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(0, 0, 0, 0.11);
  width: 30vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 3vmax;
  border-radius: 10px;
}

.reviewCard > img {
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  object-fit: cover;
}

.reviewCard > p {
  color: rgba(0, 0, 0, 0.836);
  font: 600 0.9vmax "Roboto";
  margin: 1vmax 0;
}

.reviewCardComment {
  color: rgba(0, 0, 0, 0.493);
  font: 400 0.8vmax "Roboto";
}

.noReviews {
  font: 400 1.3vmax "Roboto";
  text-align: center;
  color: rgba(0, 0, 0, 0.418);
}

@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    padding: 0;
  }

  .ProductDetails > div {
    width: 100%;
    padding: 2vmax;
  }

  .CarouselImage {
    width: 80vw;
  }

  .detailsBlock-1 > h2 {
    font: 600 4vmax "Roboto";
  }

  .detailsBlock-1 > p {
    font: 200 1.5vmax "Roboto";
  }

  .detailsBlock-2 {
    flex-direction: column;
  }

  .detailsBlock-2-span {
    font: 200 1.5vmax "Roboto";
  }

  .detailsBlock-3 > h1 {
    font: 600 3vmax "Roboto";
  }

  .detailsBlock-3-1 {
    flex-direction: column;
  }

  .detailsBlock-3-1-1 {
    margin: 1vmax 0;
  }

  .detailsBlock-3-1 > button {
    font: 500 1.5vmax "Roboto";
    padding: 1vmax;
  }

  .detailsBlock-3 > p {
    font: 400 2vmax "Roboto";
  }

  .detailsBlock-4 {
    font: 500 2vmax "Roboto";
  }

  .detailsBlock-4 > p {
    font: 300 1.5vmax "Roboto";
  }

  .submitReview {
    font: 500 1.5vmax "Roboto";
    padding: 1vmax;
  }

  .reviewsHeading {
    font: 500 2vmax "Roboto";
    width: 60vw;
  }

  .reviewCard {
    width: 60vw;
    padding: 2vmax;
  }

  .reviewCard > img {
    width: 8vmax;
    height: 8vmax;
  }

  .reviewCard > p {
    font: 600 2vmax "Roboto";
  }

  .reviewCardComment {
    font: 400 1.5vmax "Roboto";
  }

  .noReviews {
    font: 400 2vmax "Roboto";
  }
}
